.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom: 5px;
}

.productName{
    color:blueviolet;
    font-weight: 400;
}

.btn-regular{
    cursor: pointer;
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-bottom: 5px; */
}